<h2 mat-dialog-title>Video</h2>
<mat-dialog-content class="text">
  <p> Plivanje na stomaku ima različitih varijacija a ovo je jedna od njih. Uzmete plivačku daskicu ili špageticu
    (može se kupiti u nekoj od većih prodavnica) te tražite od djeteta da je čuva ispruženim rukama naprijed. Bitno
    je da noge ispruže nazad i naizmjenično rade nogama gore-dole na površini vode. Vi im možete pomoći tako što ćete
    im pridržati daskicu/špageticu i ukoliko im donji dio tijela nije na površini, podići ih rukom ka gore. Da bi ovo
    učinili još interesantnijim, špageticu možete svezati i pretvarati se kao da djeca voze auto ili motor. Također,
    možete im i pričati neku priču ili pjevati dok izvode vježbu.
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true" color="primary">Close</button>
</mat-dialog-actions>
