
<section class="section">
  <h2 class="section-title">Zašto ova aplikacija?</h2>

  <div class="about__container">
      <p class="about__text">
        Ova aplikacija je napravljena za roditelje djece sa invaliditetom i poteškoćama
        u razvoju kako bi imali sve informacije na jednom mjestu. Ja sam studentica
        četvrte godine SSST-a, a ujedno i trenerica na Olimpijskom bazenu Otoka. U svom okruženju
        sam radila i sa djecom sa invaliditetom i poteškoćama u razvoju. U razgovoru sa roditeljima
        shvatila sam koliko im je tesko naći potrebne informacije za svoju djecu. Svoje znanje
        stečeno na poslu i dodatnim kursevima sa stepIN organizacijom odlučila sam podijeliti. Na
        ovoj aplikaciji pored informacija možete naći i vježbe koje možete raditi sa svojom djecom u
        slobodno vrijeme kako kod kuće tako i na bazenu ili moru.
      </p><br>
    <img src="https://i.imgur.com/EDcRHNW.jpg" alt="personal.photo">
  </div>
</section>
