*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.section{
   padding-top: 3rem;
   padding-bottom: 2rem;
  background: #FFFDE7;
  margin-bottom: 0;
  display: block;
  align-items: center;
  justify-content: center;
 }
.section-title{
  position: relative;
  font-size: 27px;
  color: #3c5148;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
}
.about__container{
  border-radius: 25px;
  align-items: center;
  row-gap: 2rem;
  text-align: center;
  width: 800px;
  height: 500px;
  border: 3px solid #3c5148;
margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 30px 50px;
}

.about__text{
  text-align: center;
  padding: 40px 40px 20px 40px;
  color: #3c5148;
  font-size: 20px;
  font-weight: normal;
}

img{
  border-radius: 100px;
}
.logoimg{
  height: 200px;
  width: 215px;
  margin-bottom:25px;
}

@media (max-width: 600px) {
  .section-title{
    display: block;
    align-items: center;
    justify-content: center;
  }

  .about__container{
    text-align: center;
    width: 90%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
  }

}
