
<section class="section">
  <div class="waviy">
  <h2 class="section-title">
    <span style="--i:1">Z</span>
    <span style="--i:2">a</span>
    <span style="--i:3">š</span>
    <span style="--i:4">t</span>
    <span class="word" style="--i:5">o</span>
    <span style="--i:6">o</span>
    <span style="--i:7">v</span>
    <span class="word" style="--i:8">a</span>
    <div class="newword">
    <span style="--i:9">a</span>
    <span style="--i:10">p</span>
    <span style="--i:11">l</span>
    <span style="--i:12">i</span>
    <span style="--i:13">k</span>
    <span style="--i:14">a</span>
    <span style="--i:15">c</span>
    <span style="--i:16">i</span>
    <span style="--i:17">j</span>
    <span style="--i:18">a</span>
    <span style="--i:19">?</span>
    </div>
  </h2>
  </div>
  <div class="about__container">
      <p class="about__text">
        Ova aplikacija je napravljena za roditelje djece sa invaliditetom i poteškoćama
        u razvoju kako bi imali sve informacije na jednom mjestu. Ja sam studentica
        četvrte godine SSST-a, a ujedno i trenerica na Olimpijskom bazenu Otoka. U svom okruženju
        sam radila i sa djecom sa invaliditetom i poteškoćama u razvoju. U razgovoru sa roditeljima
        shvatila sam koliko im je tesko naći potrebne informacije za svoju djecu. Svoje znanje
        stečeno na poslu i dodatnim kursevima sa stepIN organizacijom odlučila sam podijeliti. Na
        ovoj aplikaciji pored informacija možete naći i vježbe koje možete raditi sa svojom djecom u
        slobodno vrijeme kako kod kuće tako i na bazenu ili moru.
      </p><br>
    <img src="https://i.imgur.com/EDcRHNW.jpg" alt="personal.photo" class="logoimg">
  </div>
</section>
