
<section class="section">
  <h2 class="section-title">O djeci sa poteškoćama u razvoju i invaliditetom u Bosni i Hercegovini</h2>

  <div class="about__container">
    <p class="about__text text1">
      Odgajanje djeteta je ogromna i izazovna odgovornost. Kada to dijete ima fizički
      ili intelektualni invaliditet, izazovi mogu izgledati još veći.
      <a href="https://www.unicef.org/bih/djeca-sa-pote%C5%A1ko%C4%87ama-u-razvoju">Neke od studija</a> pokazuju da 6,5% djece u starosnoj dobi između dvije
      i devet godina u Bosni i Hercegovini ima neku vrstu invaliditeta. Oni su jedna od
      najmarginalizovanih i isključenih grupa u Bosni i Hercegovini. Ovdje, kvalitet usluga
      nije adekvatan za sve potrebe djece sa poteškoćama u razvoju, naročito u oblasti zdravstva i obrazovanja.</p>

    <p class="about__text">Jedna od glavnih prepreka koja utiče na to da dobiju adekvatne usluge je društvena
      stigmatizacija i diskriminacija. Djeca i roditelji se suočavaju sa diskriminacionim
      zakonodavstvom, nedostatkom obuke i neadekvatnim razumijevanjem od strane učitelja/nastavnika,
      predrasudama te nedostatkom usluga i podrške. Mnoga djeca sa poteškoćama u razvoju se nalaze u
      rezidencijalnim ustanovama, što dodatno negativno utiče na njihovo puno, djelotvorno učešće u društvu.</p>

    <p class="about__text"> Djeca sa poteškoćama u razvoju i invaliditetom mogu imati posebne obrazovne potrebe ili im
      je potrebna specijalistička oprema i podrška. Roditeljima i starateljima djece može biti potrebna
      dodatna praktična i emocionalna podrška kako bi se izborili sa zahtjevima svog djeteta. Zbog toga
      postoje različie organizacije, sportski klubovi, kursevi, seminari i druge slične institucije koje
      pomažu roditeljima.</p>
  </div>
</section>
