
<section class="section">
  <div class="waviy">
  <h2 class="section-title">
    <span class="word" style="--i:1">O</span>
    <span style="--i:2">d</span>
    <span style="--i:3">j</span>
    <span style="--i:4">e</span>
    <span style="--i:5">c</span>
    <span style="--i:6">i</span>
  </h2>
</div>
  <div class="about__container">
    <p class="about__text text1">
      Odgajanje djeteta je ogromna i izazovna odgovornost. Kada to dijete ima fizički
      ili intelektualni invaliditet, izazovi mogu izgledati još veći.
    </p>
    <div class="numbers">
      <p class="about__text numbers1">6.5%</p>
      <p class="about__text text2">djece u Bosni i Hercegovini ima neku vrstu invaliditeta. </p>
    </div>

    <div class="row">
      <div class="column">
        <img class = "image image1" src="https://i.imgur.com/XjhOFbh.png">
        <div class="about__text">
          <p>Diskriminacija;</p>
          <p>Nedostatak obuke;</p>
          <p>Neadekvatno razumijevanje;</p>
          <p>Nedostatak usluga i podrške;</p>
          <p class="text3 text4">Rezidencijalne ustanove, što dodatno negativno utiče na njihovo puno, djelotvorno učešće u društvu.</p>
        </div>
      </div>

      <div class="column">
        <img class = "image" src="https://i.imgur.com/RvO0bOa.png">
        <p class="about__text  text3"> Roditeljima i starateljima djece može biti potrebna
      dodatna praktična i emocionalna podrška kako bi se izborili sa zahtjevima svog djeteta. Zbog toga
      postoje različite organizacije i udruženja (EDUS, OAZA, Dlan, Koraci nade, Lotos, Losrosal), sportski klubovi (plivački klub SPID,
      atletski klub osoba sa invaliditetom Novi Grad, odbojkaški klub invalida Fantomi i Bosna, klub ritmičke gimnastike Visoko, fudbalski klub Respekt),
      kursevi, seminari i druge slične institucije koje pomažu roditeljima.</p>
      </div>
    </div>
  </div>
</section>
