<div class="image">
  <img [height]="250"
       [width]="500"
       src="https://i.imgur.com/6pOndAv.jpg">
</div><mat-dialog-content class="text">
  <p> Ovo je zabavna i jednostavna aktivnost koju možete predstaviti svom djetetu. Na obični papir nanesete različite
    boje tempera. Papir stavite u prozirnu kesicu za zamrzivač te pričvrstite ljepilom za ravnu površinu kako boja ne
    bi izašla van kesice. Djetetu možete zadavati zadatke da crta sa određenom bojom ili ih pustiti da sami prave svoje
    remek djelo. Ova igrica poboljšava prepoznavanje boja i sposobnost zapažanja.
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true" (click)="exit()" color="primary">Zatvori</button>
</mat-dialog-actions>
