  <section id="work">
    <h2 class="section-title">Sportovi u BiH za vaše dijete</h2>

    <div id="section-body">
    <div class="row">
      <div class="column ">
        <div class="card swimming">
          <img src="https://i.imgur.com/Qm0aCm0.jpg">
          <p class="text"> Plivanje, osim što doprinosi zdravlju i razvoju psihomotoričkih vještina,
            ono je posrednik i u socijalizaciji. Plivački klub “Spid” je prvi i jedini plivački klub za
            djecu sa invaliditetom i poteškoćama u razvoju. U klubu se nalaze djeca sa različitim poteškoćama
            i invaliditetima i svako ima različite potrebe. Na trenerima je da im pruže jednake mogućnosti.
            Vješti tim trenera volonterski djecu uče da plivanju te ih pripremaju i za ozbiljna plivačka
            takmičenja. Iako su njihovi treninzi ispunjeni smijehom, nije riječ samo o zabavi u vodi, nego i o
            predanom radu posvećenom stvaranju budućih šampiona i šampionki.
          </p>
        </div>
      </div>

      <div class="column">
        <div class="card skiing">
          <img src="https://i.imgur.com/cdAn8hB.jpg">
          <p class="text"> Plivački klub “Spid” osim što se bavi školom plivanja, u zimskom periodu kada su djeca
            na raspustu, organizuje i školu skijanja za djecu sa različitim poteškoćama i invaliditetima. Vješti
            tim trenera djecu uče kako da samostalno skijaju i uživaju u ljepotama planine prekrivenom snijegom.
            Svako dijete sve može, samo na svoj način i nekome je potrebno više, a nekome manje vremena.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="card football">
          <img src="https://i.imgur.com/WqkOVlY.jpg">
          <p class="text"> Fudbalski klub "Respekt" je prva i jedina organizacija ovog tipa u svijetu, koja je besplatna za svu djecu
            i mlade, i u kojoj, rame uz rame, na treningu i na takmičenjima, uz tipičnu djecu, treniraju djeca sa
            poteškoćama u razvoju, Romi, djeca bez roditeljskog staranja, djeca žrtve nasilja. Respekt jedna je od
            primjera inkluzije, prihvaćenosti kroz vannastavne aktivnosti, a postoji od 2014. godine. Članovi koji u
            zvaničnim utakmicama ne mogu nastupiti direktno na terenu, zbog dijagnoza koje im uskraćuju saglasnost
            nadležne ustanove za sportsku medicinu, učestvuju kao predstavnici kluba i logistička podrška.
          </p>
        </div>
      </div>

      <div class="column">
        <div class="card athletics">
          <img src="https://i.imgur.com/Ut8E0VY.jpg">
          <p class="text">Još jedan od sportova kojim se vaše dijete može baviti je atletika. Atletski klub osoba sa
            invaliditetom "Novi Grad Sarajevo" je jedan od tih klubova. Oni podržavaju  i nastoje razviti atletiku kao
            zaseban sport  kod osoba sa invaliditetom u Bosni i Hercegovini. Bave se organizacijom škole atletike i
            rekreativnih sportskih aktivnosti za svoje članove.
          </p>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="column ">
          <div class="card gymnastics">
            <img src="https://i.imgur.com/3vs6oNA.jpg">
            <p class="text">Jedan od klubova u Bosni i Hercegovini koji je uspješan i predan u svom radu je Klub ritmičke
              gimnastike "Visoko". Oni nude djeci pozitivno okruženje i gimnastičke treninge za savladanje novih vještina.
              Jedna od njihovih članica je i djevojčica koja je rođena bez donjeg dijela lijeve ruke. Uprkos tome, djevojčica
              trenira ovaj sport i postala je međunarodno priznata ritmička gimnastičarka.
            </p>
          </div>
        </div>

        <div class="column">
          <div class="card voleyball">
            <img src="https://i.imgur.com/1u1g5Tq.jpg">
            <p class="text">Još jedan spori kojim se Vaše dijete može baviti je odbojka. Klub sjedeće odbojke "Bosna", Zenica, je
              klub koji za cilj ima resocijalizaciju  invalida putem sporta te popularizacijeu moralnih vrijednosti koje
              se stiću kroz sjedeću odbojku. Klub pomaže u razvijanju kako ličnih tako i društvenih vrijednosti. Pored
              ovog kluba, u BiH ima još i 28 klubova a jedan od njih je i Odbojkaški klub invalida "Fantomi" koji trenutno
              imaju samo punoljetne članove kluba.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
