  <section id="work">
    <h2 class="section-title">Sportovi u BiH za vaše dijete</h2>

    <div id="section-body">
    <div class="row">
      <div class="column ">
        <div class="card swimming">
          <h3 class="text1"> Plivanje </h3>
          <p class="text"> Plivanje, osim što doprinosi zdravlju i razvoju psihomotoričkih vještina,
            ono je posrednik i u socijalizaciji. Plivački klub “Spid” je prvi i jedini plivački klub za
            djecu sa invaliditetom i poteškoćama u razvoju. U klubu se nalaze djeca sa različitim poteškoćama
            i invaliditetima i svako ima različite potrebe. Na trenerima je da im pruže jednake mogućnosti.
            Vješti tim trenera volonterski djecu uče da plivanju te ih pripremaju i za ozbiljna plivačka
            takmičenja. Iako su njihovi treninzi ispunjeni smijehom, nije riječ samo o zabavi u vodi, nego i o
            predanom radu posvećenom stvaranju budućih šampiona i šampionki.
          </p>
        </div>
      </div>

      <div class="column">
        <div class="card skiing">
          <h3 class="text1"> Skijanje </h3>
          <p class="text"> Plivački klub “Spid” osim što se bavi školom plivanja, u zimskom periodu kada su djeca
            na raspustu, organizuje i školu skijanja za djecu sa različitim poteškoćama i invaliditetima. Vješti
            tim trenera djecu uče kako da samostalno skijaju i uživaju u ljepotama planine prekrivenom snijegom.
            Svako dijete sve može, samo na svoj način i nekome je potrebno više, a nekome manje vremena.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="card football">
          <h3 class="text1 ">Fudbal??</h3>
          <p class="text">Text</p>
        </div>
      </div>

      <div class="column">
        <div class="card athletics">
          <h3 class="text1 ">Atletika</h3>
          <p class="text">Još jedan od sportova kojim se vaše dijete može baviti je atletika. Atletski klub osoba sa
            invaliditetom Novi Grad Sarajevo je jedan od tih klubova. Oni podržavaju  i nastoje razviti atletiku kao
            zaseban sport  kod osoba sa invaliditetom u Bosni i Hercegovini. Bave se organizacijom škole atletike i
            rekreativnih sportskih aktivnosti za svoje članove.
          </p>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="column ">
          <div class="card gymnastics">
            <h3 class="text1 ">Ritmicka gimnastika</h3>
            <p class="text">Jedan od klubova u Bosni i Hercegovini koji je uspješan i predan u svom radu je Klub ritmičke
              gimnastike "Visoko". Oni nude djeci pozitivno okruženje i gimnastičke treninge za savladanje novih vještina.
              Jedna od njihovih članica je i djevojčica koja je rođena bez donjeg dijela lijeve ruke. Uprkos tome, djevojčica
              trenira ovaj sport i postala je međunarodno priznata ritmička gimnastičarka.
            </p>
          </div>
        </div>

        <div class="column">
          <div class="card athletics">
            <h3 class="text1 ">Stolni tenis??</h3>
            <p class="text">Text</p>
          </div>
        </div>
      </div>
    </div>
  </section>
