*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.row {
  padding: 20px;
}
.section{
  background: #FFFDE7;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.section-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #3c5148;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.text{
  justify-content: center;
  text-align: center;
  padding: 5px 100px;
  margin-bottom: 30px;
  font-size: 19px;
}
.text1{
  justify-content: center;
  text-align: center;
  font-size: 27px;
  padding: 5px 100px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #3c5148;
}
text2{
  margin-top: 40px;
}
.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #3c5148;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #8BCA67;
}
@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}
.column{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__container{
  border-radius: 20px;
  text-align: center;
  row-gap: 2rem;
  width: 200px;
  height: 100px;
  border: 3px solid #3c5148;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__text{
  padding: 40px;
  color: #3c5148;
  font-size: 20px;
  font-weight: normal;
}
@media (max-width: 600px) {

  .text {
    display: block;
    width: 100%;
    padding: 20px 40px;
    text-align: justify;
  }
  .column {
    float: none;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
    display: block;
    justify-content: center;
    align-items: center;
  }
}


