
<section class="section">
  <h2 class="section-title">Igre i vježbe</h2>
  <p class="text">Igre i aktivnosti ne samo da pomažu da se vaša djeca angažiraju, već ih i podstiču da budu spontana i uživaju.
    Ovdje navedene igre i  fizičke vježbe su pogodne za svu djecu bez obzira na njihove fizičke ili intelektualne poteškoće.
    Igre su posebno pogodne za djecu s poteškoćama iz autističnog spektra, poteškoćama u učenju, kašnjenjem u govoru i
    jeziku, Downovim sindromom, tjelesnim invaliditetom i cerebralnom paralizom. Voda je jedna od najboljih terapija. Igra
    u vodi može smiriti i umiriti živce vašeg djeteta. Sljedećih nekoliko vježbi se odnosi i na vježbe u vodi a koje mogu
    raditi sva djeca bilo kog uzrasta. Sa ovim vježbama djeci će biti interesantno a istovremeno će učiti i samostalno da plivaju.
  </p>
<div class="column">
  <div class="about__container" (click)="showDialog(dialogDrawComponent)">
    <p class="about__text">Crtanje</p>
  </div><br>
  <div class="about__container" (click)="showDialog(dialogMemoryComponent)">
  <p class="about__text">Memorijske igre</p>
  </div><br>
  <div class="about__container" (click)="showDialog(dialogEmotionComponent)">
  <p class="about__text">Sortiranje emocija</p>
  </div><br>
  <div class="about__container" (click)="showDialog(dialogBubblesComponent)">
  <p class="about__text">Puhanje balončića</p>
  </div><br>
  <div class="about__container" (click)="showDialog(dialogToysComponent)">
  <p class="about__text">Sakupljanje loptica i igračaka</p>
  </div><br>
  <div class="about__container" (click)="showDialog(dialogSwim1Component)">
  <p class="about__text">Plivanje na stomaku 1</p>
  </div><br>
  <div class="about__container" (click)="showDialog(dialogSwim2Component)">
  <p class="about__text">Plivanje na stomaku 2</p>
  </div><br>
  <div class="about__container" (click)="showDialog(dialogSwim3Component)">
  <p class="about__text">Plivanje na leđima 1</p>
  </div><br>
  <div class="about__container" (click)="showDialog(dialogSwim4Component)">
  <p class="about__text">Plivanje na leđima 2</p><br>
  </div>
</div>
</section>
