<h2 mat-dialog-title>Video</h2>
<mat-dialog-content class="text">
  <p> Kada su djeca savladala prethodnu vježbu, možete im dati nešto malo komplikovanije a to je da uključe i rad rukama.
    Na početku izvođenja ove vjezbe, djeci svežite špageticu oko struka i pomažite im da rade rukama naprijed. Rukama bi
    trebali da izvode oblik srca tako da je glava iznad vode. Kada nauče, raditi rukama bez vaše pomoći, možete im
    skinuti špageticu i pomoći da rade rukama. Kada budu spremni, moći će samostalno da se održavaju i plivaju sami na
    ovaj način. Cijelo vrijeme dok uče raditi rukama, obavezno je i da rade nogama kao u prethodnoj vježbi.
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true" color="primary">Close</button>
</mat-dialog-actions>
