*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
#contact{
  padding-top: 3rem;
  padding-bottom: 2rem;
  background: #FFFDE7;
  margin-bottom: 0;
  display: block;
  align-items: center;
  justify-content: center;
}
h2{
  padding: 20px;
}
.contactme{
  text-align: center;
  color: #3c5148;
  font-weight: bold;
  padding-bottom: 50px;
}

.bd-grid{
  width: 500px;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  margin: auto;
}

.contact__input{
  width: 100%;
  padding: 1rem;
  border-radius: .5rem;
  border: 2px solid #3c5148;
  outline: none;
  margin-bottom: 40px;
}
#note{
  height: 200px;
  text-align: start;
}
.contact__button{
  display: block;
  border: none;
  width: 100px;
  outline: none;
  cursor: pointer;
  margin-left: auto;
}

.button{
  background-color: #8BCA67;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  padding: 15px 20px;
}
.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #3c5148;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
.word{
  padding-right: 15px;
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}
@media (max-width: 600px) {
  #contact{
    justify-content: center;
    align-items: center;
  }
  .bd-grid{
    width: 90%;
  }

}
