<form [formGroup]="form" (ngSubmit)="submit()" action="" class="contact__form">
  <section class="contact section" id="contact">
  <div class="contactme">
    <div class="waviy">
      <h2 class="section-title">
        <span style="--i:1">N</span>
        <span style="--i:2">a</span>
        <span style="--i:3">p</span>
        <span style="--i:4">i</span>
        <span style="--i:5">š</span>
        <span style="--i:6">i</span>
        <span style="--i:7">t</span>
        <span class="word" style="--i:8">e</span>
        <span style="--i:9">m</span>
        <span class="word" style="--i:10">i</span>
        <span style="--i:11">p</span>
        <span style="--i:12">o</span>
        <span style="--i:13">r</span>
        <span style="--i:14">u</span>
        <span style="--i:15">k</span>
        <span style="--i:16">u</span>
      </h2>
    </div>
   <p>TELEFON: +387 60 341 7565</p>
    <p>E-MAIL: nejrabujak@gmail.com  ili:</p> <br>
  </div>

  <div class="contact__container bd-grid form-group">
      <input type="name" placeholder="Vaše ime" class="contact__input" id="name"
             [formControlName]="messageProperty.name"  name="name">
      <input type="text" placeholder="Vaše email" class="contact__input" id="text"
             [formControlName]="messageProperty.email"  name="email">

    <textarea name="note" id="note" placeholder="Ostavite poruku"
              cols="0" rows="10" class="contact__input"
              [formControlName]="messageProperty.note"></textarea>

    <div class="form-group">
        <button type="submit" class="contact__button button"> Podnesi
        </button>
    </div>
  </div>
</section>
</form>




