<div class="image">
  <img [height]="250"
       [width]="500"
       src="https://i.imgur.com/bknRZ0j.jpg">
</div>
<mat-dialog-content class="text">
  <p> Memorijske kartice su lako dostupne u prodavnicama ili ih možete napraviti i sami uz pomoć papira/kartona i bojica.
    Ovu jednostavnu igru možete igrati tako što ćete poredati parove podudarnih karata licem prema dolje, slučajnim
    redoslijedom. Vi i vaše dijete možete se izmjenjivati u okretanju karata. Morate dva puta okrenuti, a ako dobijete
    odgovarajući par, možete uzeti karte. Ako ne, nastavite da igrate dok se sve karte ne upare. Ova igra poboljšava
    pamćenje, koncentraciju i socijalne vještine.
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true" color="primary">Zatvori</button>
</mat-dialog-actions>
