<script src="https://www.youtube.com/iframe_api"></script>

<youtube-player [videoId]="videoId"
                [height]="250"
                [width]="500"
                suggestedQuality="hd720"
                class="video"> </youtube-player>

<mat-dialog-content class="text">
  <p> Puhanje balončića je zanimljiva i ujedno korisna vježba za djecu. Uz pomoć ove vježbe dijete se oslobađa
    straha od vode a istovremeno je zanimljivo. Izvodi se u tri različita koraka. Prvi korak je da samo pušu u vodu.
    Drugi korak je da stave usane u vodu i pušu balončiće. Treći korak, kada se dijete oslobodi straha, je da potpuno
    spuste glave pod vodu i pušu balončiće pod vašim nadzorom. Dok izvode ovu vježbu, možete pričati o tome kako prave
    malu ili veliku fontanu, ovisno o tome koliko jako puše, kako bi vježba bila još zanimljivija. </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true" (click)="exit()" color="primary">Zatvori</button>
</mat-dialog-actions>
