<section class="contact section" id="contact">
  <div class="contactme">
  <h2 class="section-title">Napišite mi poruku</h2>
   <p>TELEFON: +387 60 341 7565</p>
    <p>EMAIL: diplomskirad@gmail.com  ili:</p> <br>
  </div>

  <div class="contact__container bd-grid">
    <form action="" class="contact__form">
      <input type="text" placeholder="Vaše ime" class="contact__input">
      <input type="text" placeholder="Vaš email" class="contact__input">
      <textarea name="" id="" placeholder="Ostavite poruku" cols="0" rows="10" class="contact__input"></textarea>
      <input type="button" value="Enter" class="contact__button button">
    </form>
  </div>
</section>





