<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="footer">
  <div class="title">  <p> ChildrenFirst </p> </div>
  <hr>
  <div class="footertext">
      <ul>
        <li>nejrabujak@gmail.com</li>
        <li>+387 60 341 7565</li>
        <li>Ramiza Salčina 310</li>
      </ul>
  </div>
  <div class="footerIcons">
    <a href="https://www.facebook.com/NejraBujak10" style="text-decoration: none;" class="fa fa-facebook"></a>
    <a href="https://twitter.com/nejrabujak" style="text-decoration: none;" class="fa fa-twitter"></a>
    <a href="https://www.linkedin.com/in/nejra-bujak-ba5889235/" style="text-decoration: none;" class="fa fa-linkedin"></a>
    <a href="https://www.instagram.com/miss.bujak/" style="text-decoration: none;" class="fa fa-instagram"></a>
    <a href="https://wa.me/387603417565" style="text-decoration: none;" class="fa fa-whatsapp"></a>
    <a href="https://github.com/nejrabujak" style="text-decoration: none;" class="fa fa-github"></a>
  </div>
</footer>
