*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
h2{
  padding: 10px;
  text-align: center;
  color: #3c5148;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-bottom: 30px;
}

.row {
  margin: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.card{
  background: #8BCA67;
  height: 200px;
  transition: 1s;
  cursor: pointer;
  text-align: justify;
  border-radius: 15px;
}
.text{
  display: none;
}

h3{
  padding: 70px 20px 20px 20px;
  text-align: center;
  color: #3c5148;
}

.card:hover{
  transform: scale(1.1);
  background: transparent;
  border: 5px solid #3c5148;
  height: 500px;
}

.card:hover .h3{
  text-align: center;
}

.card:hover .text{
  display: block;
  padding: 10px;
  font-size: 15px;
  color: #3c5148;
}
