
<section id="work">
  <h2 class="section-title">Savjeti</h2>

  <div class="row">
    <div class="column">
      <div class="card" (mouseenter)="tipEnter(cardName.tip1)" (mouseleave)="tipExit(cardName.tip1)">
        <h3 class="text1"> Istražite smetnje vašeg djeteta sada i nastavite istraživati </h3>
        <p class="text"> Istražite što je više moguće o stanju vašeg djeteta: što više znate,
          više ćete mu moći pomoći. Na početku istraživanja razgovarat ćete sa profesionalcima
          koji vam mogu objasniti šta se dešava sa vašim djetetom, kao i kako možete pomoći u
          svakoj fazi njegovog razvoja. Naići ćete na razlicite podrške, profesionalce i dobrotvorne
          organizacije koje vam mogu pomoći u pružanju podrške i savjeta te vam dati pristup najnovijim
          fizikalnim terapijama koje su prikladne  za stanje vašeg djeteta, koje mogu pomoći u poboljšanju
          i održavanju mišićne snage, fleksibilnosti, ravnoteže  i motoričke sposobnosti vašeg djeteta.
          Istraživanje uključuje i istraživanje sredstava dostupnih za vaše dijete. Tu spadaju državne
          beneficije, finansijska  podrška za kupovinu specijalne opreme, pristup odgovarajućem obrazovanju,
          transport i modifikacije doma.
        </p>
      </div>
    </div>

    <div class="column">
      <div class="card" (mouseenter)="tip2()" (mouseleave)="tip2exit()">
        <h3> Rad sa obrazovnom ustanovom </h3>
        <p class="text">Zajednički rad sa djetetovim obrazovnom ustanovom može biti od suštinskog značaja
          u osiguravanju da vaše dijete dobije podršku koja mu je potrebna. Bliski odnos sa ključnim radnikom
          ili učiteljem vašeg djeteta omogućava vam da im pružite odgovarajuća ažuriranja kako bi mogli
          prilagoditi nastavni plan i program tako da vašem djetetu daju najbolje mogućnosti u smislu vježbi
          u timskom radu, društvenoj integraciji i izgradnji odnosa, kao što je tradicionalna područja pismenosti
          i računanja.
        </p>
      </div>
    </div>

    <div class="column">
      <div class="card" (mouseenter)="tip3()" (mouseleave)="tip3exit()">
        <h3>Družite se sa drugim porodicama</h3>
        <p class="text">Druženje sa porodicama sa decom sa sličnim smetnjama u razvoju može pružiti veliku
          emocionalnu i praktičnu podršku, omogućavajući vašem detetu da komunicira sa ljudima sa kojima se
          može povezati i izgraditi prijateljstva i odnose. To može pomoći njihovom emocionalnom razvoju.
          Tokom svog istraživanja vjerovatno ćete naići na različite grupe i klubove koji žele da se djeca
          bave sportom, kao i da nude različite rekreativne aktivnosti u skladu sa njihovim interesovanjima.
          Nemojte se plašiti da ih isprobate, možda ćete uspostaviti neka jaka prijateljstva i razviti dobru
          mrežu podrške.
        </p>
      </div>
    </div>

    <div class="column">
      <div class="card" (mouseenter)="tip4()" (mouseleave)="tip4exit()">
        <h3>Planirajte igre</h3>
        <p class="text">Neformalni sastanci za igru i druge prilike za druženje (kao što je organizovanje
          male zabave za rođendan vašeg djeteta) su također važni. Da biste maksimalno iskoristili ove
          interakcije, obratite posebnu pažnju na to s kojom se djecom vaše dijete najbolje slaže, u kojim
          igrama i aktivnostima uživa i koliko dugo razdoblje druženja voli. Često kraći periodi druženja
          mogu biti poželjniji.</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="column">
      <div class="card" (mouseenter)="tip5()" (mouseleave)="tip5exit()">
        <h3>Ne bojte se</h3>
        <p class="text"> Ideja da nađete nove prijatelje koji su u sličnoj situaciji kao vi mogu izgledati
          zastrašujuće, ali budite hrabri. Često pravi ljudi dođu u vaš život kada to najmanje očekujete.
          Nemojte se bojati da upoznate nove ljude, prijatelje i potražite informacije i savjete koji će vam
          biti od pomoći.</p>
      </div>
    </div>

    <div class="column">
      <div class="card" (mouseenter)="tip6()" (mouseleave)="tip6exit()">
        <h3>Druženje sa starijom i mlađom djecom</h3>
        <p class="text">Ne brinite previše o pronalaženju djece istih godina. Interakcija vašeg djeteta
          sa ljudima različite dobi može biti korisna. Ako vaše dijete komunicira s mlađom djecom, to im
          može pomoći da preuzmu vodstvo i da se osjećaju važnim jer preuzimaju ulogu i odgovornost kao
          starije dijete. Biti s prijateljima sa starijom djecom također može biti pozitivno. Njihov nivo
          strpljenja i zrelosti je opet drugačiji, što znači da se često mogu baviti vašim djetetom na
          dubljem nivou kada razgovaraju o svojim zajedničkim interesima. </p>
      </div>
    </div>

    <div class="column">
      <div class="card" (mouseenter)="tip7()" (mouseleave)="tip7exit()">
        <h3> Terapija sa životinjama</h3>
        <p class="text">Kućni ljubimac moze da upotpuni postojeća prijateljstva vašeg djeteta i ojačati
          sreću i druženje. Briga o kućnom ljubimcu može pomoći u razvoju odgovornosti, empatije i pružiti
          priliku za iskazivanje bezuvjetne ljubavi. Uvijek imajte na umu da je kućni ljubimac
          velika odgovornost. Zbog toga se posvetite ovoj obavezi samo ako vaše dijete i porodica imaju
          vremena i resursa da mogu pružiti kućnom ljubimcu potrebnu njegu i pažnju. Dječje farme i zoološki
          vrtovi često mogu pružiti priliku djeci da provode vrijeme sa životinjama bez odgovornosti
          posjedovanja životinje. </p>
      </div>
    </div>

    <div class="column">
      <div class="card" (mouseenter)="tip8()" (mouseleave)="tip8exit()">
        <h3>Programi podrške, centri za njegu i porodična udruženja</h3>
        <p class="text">Mnoge obrazovne ustanove, lokalna vijeća i udruženja imaju programe za roditelje
          djece sa poteškoćama u razvoju. Ovi programi su važni na nivou obuke i obrazovanja i mogu biti
          bitno sredstvo informisanja. U njima ćete pronaći profesionalce koji će vas posavjetovati o
          posebnim potrebama vašeg djeteta i o tome kako će se ono dalje razvijati u budućnosti. Porodična
          udruženja pružaju moralnu podršku, posebno tokom prvih nekoliko godina, koje često mogu biti i
          najkomplikovanije za roditelje. Upoznavanje i boravak u blizini drugih porodica koje se nalaze
          u sličnim situacijama, pomaže vašem djetetu da komunicira sa drugom djecom sa istim invaliditetom
          u sigurnom, udobnom i podržavajućem okruženju.</p>
      </div>
    </div>
  </div>
</section>
