*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
#work{
  background: #FFFDE7;
  margin-bottom: 0;
}

h2{
  padding: 10px;
  text-align: center;
  color: #3c5148;
}
.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #3c5148;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-bottom: 30px;
}

.row {
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.card{
  background: #8BCA67;
  height: 200px;
  transition: 1s;
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text{
  display: none;
}

h3{
  text-align: center;
  padding: 15px;
  color: #3c5148;
}

.card:hover{
  display: block;
  transform: scale(1.1);
  background: transparent;
  border: 5px solid #3c5148;
  height: auto;
}

.card:hover .text{
  display: block;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  color: #3c5148;
  text-align: justify;
}
@media (max-width: 600px) {
  .column {
    float: none;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
    display: block;
    justify-content: center;
    align-items: center;
  }
}
