<div class="image">
  <img [height]="250"
       [width]="500"
       src="https://i.imgur.com/q9wtgBm.png">
</div>
<mat-dialog-content class="text">
  <p> Djeca s autizmom često se susreću sa borbom da izraze ili identifikuju emocije. Koristite ovu jednostavnu
    aktivnost da im pomognete da nauče kako izgleda koja emocija. Možete iskoristiti igrice online ili kartice
    sa prikazom i nazivom emocije.
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true" color="primary">Zatvori</button>
</mat-dialog-actions>
