<div class="image">
  <img [height]="250"
       [width]="500"
       src="https://i.imgur.com/Cakw5yx.jpg">
</div>
<mat-dialog-content class="text">
  <p> Uzmite loptice različitih boja i/ili druge igračke za kupanje. Te loptice i igračke razbacate na više mjesta
    i tražite od djeteta da ih skupi. Mogu biti različite kombinacije kao na primjer da skupi samo crvene loptice ili
    da skupi sve patkice. Također, možete kombinovati da djeca stave ruke iza leđa i da pušu balončice u vodu kako bi
    lopticu sa jednog mjesta prebacili na drugo mjesto. </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true" (click)="exitDialog()" color="primary">Zatvori</button>
</mat-dialog-actions>
